<div class="col-md-4 products-left">
    <div class="filter-price">
        <h3>Filtrar por <span>Precio</span></h3>
            <ul class="dropdown-menu6">
                <li>                
                    <div id="slider-range"></div>							
                    <input type="text" id="amount" style="border: 0; color: #ffffff; font-weight: normal;" />
                </li>			
            </ul>
    </div>
    <div class="css-treeview">
        <h4>Categorias</h4>
        <ul class="tree-list-pad">
            <li><input type="checkbox" checked="checked" id="item-0" /><a href="/category/chalecos"><label for="item-0"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> Chaquetas</label></a>
            </li>

            <li><input type="checkbox" id="item-1" checked="checked" /><a href="/category/polerones"><label for="item-1"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> Polerones</label></a>
            </li>

            <li><input type="checkbox" checked="checked" id="item-2" /><a href="/category/poleras"><label for="item-2"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> Poleras</label></a>
            </li>

            <li><input type="checkbox" checked="checked" id="item-3" /><a href="/category/parkas"><label for="item-3"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> Parkas</label></a>
            </li>

            <li><input type="checkbox" checked="checked" id="item-4" /><a href="/category/camisas"><label for="item-4"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> Camisas</label></a>
            </li>

            <li><input type="checkbox" checked="checked" id="item-5" /><a href="/category/pantalones"><label for="item-5"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> Pantalones</label></a>
            </li>

            <li><input type="checkbox" checked="checked" id="item-6" /><a href="/category/shorts"><label for="item-6"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> Shorts</label></a>
            </li>	
            
        </ul>
    </div>

    <div class="clearfix"></div>
</div>