<div class="footer">
    <div class="footer_agile_inner_info_w3l">
        <div class="col-md-4 footer-left">
            <div class=" logo-sl">
                <h2><a href="/"><img src="/images/logos/room-vintage.png" alt=""></a></h2>
                <!-- <p>Lorem ipsum quia dolor
                sit amet</p> -->
            </div>
            <ul class="social-nav model-3d-0 footer-social w3_agile_social two">
                <h4>Seguinos</h4>
                <li><a href="#" class="instagram">
                        <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                        <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                    </a></li>
            </ul>
        </div>
        <div class="col-md-8 footer-right">
            <div class="sign-grds">
                <div class="col-md-5 sign-gd">
                    <h4>Menu</h4>
                    <ul>
                        <li><a href="/">Inicio</a></li>
                        <li><a href="mens.html">Hombres</a></li>
                        <li><a href="womens.html">Mujeres </a></li>
                        <li><a href="about.html">Nosotros</a></li>
                    </ul>
                </div>

                <div class="col-md-6 sign-gd-two">
                    <h4>Informacion</h4>
                    <div class="w3-address">
                        <div class="w3-address-grid">
                            <div class="w3-address-left">
                                <i class="fab fa-whatsapp"></i>
                            </div>
                            <div class="w3-address-right">
                                <h6>Whatsapp</h6>
                                <p>+1 234 567 8901</p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="w3-address-grid">
                            <div class="w3-address-left">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </div>
                            <div class="w3-address-right">
                                <h6>Email</h6>
                                <p><a href="mailto:mundomejormoda@gmail.com">mundomejormoda@gmail.com</a></p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>

                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="p-copy">
            <p class="copy-right">&copy 2021 MUNDO MEJOR MODA. Todos los derechos reservados | Desarrollado por
                <a href="https://github.com/Robertlean">Robert Veintemilla</a> /
                <a href="https://github.com/AntonelaEspinola">Anto Espinola</a>
            </p>
        </div>
    </div>
</div>