<div class="header" id="home">
    <div class="container contenedor">
        <div class="col-md-4 header-middle">
            <form action="/search" method="post" style="display: flex; justify-content: center; align-items: center;">
                <input type="search" name="search" placeholder="Buscar aquí..." required="">
                <input type="submit" value=" ">
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>
<!-- //header -->
<!-- header-bot -->
<div class="header-bot">
    <div class="header-bot_inner_wthreeinfo_header_mid">        
        <!-- header-bot -->
        <div class="container-fluid menu-inicio">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse menu--shylock desplegable" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav menu__list navegador">
                    <li class="active menu__item menu__item--current"><a class="menu__link"
                            href="/">Inicio <span class="sr-only">(current)</span></a></li>
                    <li class=" menu__item"><a class="menu__link" href="/about">Nosotros</a></li>
                    <li class="dropdown menu__item">
                        <a href="#" class="dropdown-toggle menu__link" data-toggle="dropdown" role="button"
                            aria-haspopup="true" aria-expanded="false">Para ellos <span
                                class="caret"></span></a>
                        <ul class="dropdown-menu multi-column columns-3">
                            <div class="agile_inner_drop_nav_info">
                                <div class="col-sm-8 multi-gd-img1 multi-gd-text ">
                                    <a href="/products/mens"><img src="/images/top2.jpg" alt=" " /></a>
                                </div>
                                <div class="col-sm-4 multi-gd-img">
                                    <ul class="multi-column-dropdown">
                                        <li><a href="/products/mens">TODOS</a></li>
                                        <li><a href="/products/mens/chaquetas">Chaquetas</a></li>
                                        <li><a href="/products/mens/polerones">Polerones</a></li>
                                        <li><a href="/products/mens/poleras">Poleras</a></li>
                                        <li><a href="/products/mens/parcas">Parcas</a></li>
                                        <li><a href="/products/mens/camisas">Camisas</a></li>
                                        <li><a href="/products/mens/casacas">Casacas</a></li>
                                        <li><a href="/products/mens/shorts">Shorts</a></li>
                                        <li><a href="/products/mens/pantalones">Pantalones</a></li>
                                    </ul>
                                </div>
                                
                                <div class="clearfix"></div>
                            </div>
                        </ul>
                    </li>
                    <li class="dropdown menu__item">
                        <a href="#" class="dropdown-toggle menu__link" data-toggle="dropdown" role="button"
                            aria-haspopup="true" aria-expanded="false">Para ellas <span
                                class="caret"></span></a>
                        <ul class="dropdown-menu multi-column columns-3">
                            <div class="agile_inner_drop_nav_info">
                                <div class="col-sm-4 multi-gd-img">
                                    <ul class="multi-column-dropdown">
                                        <li><a href="/products/womens">TODOS</a></li>
                                        <li><a href="/products/chaquetas">Chaquetas</a></li>
                                        <li><a href="/products/womens/polerones">Polerones</a></li>
                                        <li><a href="/products/womens/poleras">Poleras</a></li>
                                        <li><a href="/products/womens/parcas">Parcas</a></li>
                                        <li><a href="/products/womens/camisas">Camisas</a></li>
                                        <li><a href="/products/womens/casacas">Casacas</a></li>
                                        <li><a href="/products/womens/shorts">Shorts</a></li>
                                        <li><a href="/products/womens/pantalones">Pantalones</a></li>
                                    </ul>
                                </div>
                                
                                <div class="col-sm-8 multi-gd-img multi-gd-text ">
                                    <a href="/products/womens"><img src="/images/top1.jpg" alt=" " /></a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </ul>
                    </li>

                    <!-- desplegables de marcas -->
                    <li class="dropdown menu__item">
                        <a href="#" class="dropdown-toggle menu__link" data-toggle="dropdown" role="button"
                            aria-haspopup="true" aria-expanded="false">Marcas<span
                                class="caret"></span></a>
                        <ul class="dropdown-menu multi-column columns-3">
                            <div class="agile_inner_drop_nav_info">
                                <div class="col-sm-4 multi-gd-img">
                                    <ul class="multi-column-dropdown">
                                        <li><a href="/products/marcas">TODOS</a></li>
                                        <% marcas.forEach(marca => { %>
                                            <li><a href="/products/<%= marca.name %>"><%= marca.name %> </a></li>
                                        <% }) %>
                                    </ul>
                                </div>
                                
                                <div class="col-sm-8 multi-gd-img multi-gd-text ">
                                    <a href="/products/womens"><img src="/images/top1.jpg" alt=" " /></a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </ul>
                    </li>
                    
                    <!-- Aquí irá un ejs -->
                    
                    <li class=" menu__item"><a href="#" data-toggle="modal" data-target="#myModal" class="menu__link">Ingresa</a></li>
                    <li class=" menu__item"><a href="#" data-toggle="modal" data-target="#myModal2" class="menu__link">Registrate</a></li>

                    <div id="contadorCarritoItems">

                    </div>
                </ul>
                
            </div>
        </div>
        <div class="col-md-4 logo_agile">
            <a href="/"><img src="/images/logos/logo1.png" alt="logo" height="120"></a>
        </div>

        <div class="top_nav_right">
            <a href="/cart">
                <div class="wthreecartaits wthreecartaits2 carrito cart box_1">
                    <div class="last">
                        <input type="hidden" name="cmd" value="_cart">
                        <input type="hidden" name="display" value="1">
                        
                    </div>

                </div>
            </a>
        </div>
        <!-- header-bot -->
        
        <div class="clearfix"></div>
    </div>
</div>

<!-- //header-bot -->