<!-- Modal1 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body modal-body-sub_agile_login">
                <div class="col-md-8 modal_body_left modal_body_left1">
                    <h3 class="agileinfo_sign">Ingresa <span>Ahora</span></h3>
                    <form action="/" method="post">
                        <div class="styled-input agile-styled-input-top">
                            <input type="email" name="email" required="">
                            <label>E-mail</label>
                            <small class="text-warning"><%= (typeof errors != 'undefined' && errors.email)?errors.mail.msg: "" %> </small>
                        </div>
                        <div class="styled-input">
                            <input type="password" name="password" required="">
                            <label>Contraseña</label>
                            <small class="text-warning"><%= (typeof errors != 'undefined' && errors.password)?errors.password.msg: "" %> </small>
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1" name="recordar">
                            <label class="form-check-label" for="exampleCheck1" >Recordarme</label>
                        </div>
                        <input type="submit" value="Ingresar">
                        <!-- Anto, aquí deje comentado el error que te había indicado por what -->
                        <span class="text-danger"><%# (typeof locals.errores && errores.email) ? errores.email.msg : null %></span>
                    </form>
                    <ul class="social-nav model-3d-0 footer-social w3_agile_social top_agile_third">
                       
                        <li><a href="#" class="instagram">
                                <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                                <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                            </a>
                        </li>
                        
                    </ul>
                    <div class="clearfix"></div>
                    <p><a href="#" data-toggle="modal" data-target="#myModal2"> ¿No recordas tu contraseña?</a></p>

                </div>
                <div class="col-md-4 modal_body_right modal_body_right1">
                    <img src="/images/log_pic.jpg" alt=" " />
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- //Modal content-->
    </div>
</div>
<!-- //Modal1 -->
<!-- Modal2 -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body modal-body-sub_agile">
                <div class="col-md-8 modal_body_left modal_body_left1">
                    <h3 class="agileinfo_sign">Registrate <span>Ahora</span></h3>
                    <form action="/" method="post">
                        <div class="styled-input agile-styled-input-top">
                            <input type="text" name="name" required="">
                            <label>Nombre</label>
                            <span></span>
                        </div>
                        <div class="styled-input">
                            <input type="tel" name="telefono" required="">
                            <label>N° de Telefóno</label>
                            <span></span>
                        </div>
                        <div class="styled-input">
                            <input type="text" name="calle" required="">
                            <label>Dirección (Calle y N°)</label>
                            <span></span>
                        </div>
                        <div class="styled-input">
                            <input type="text" name="comuna" required="">
                            <label>Comuna</label>
                            <span></span>
                        </div>
                        <div class="styled-input">
                            <input type="email" name="email" required="">
                            <label>E-mail</label>
                            <span></span>
                        </div>
                        <div class="styled-input">
                            <input type="password" name="password" required="">
                            <label>Contraseña</label>
                            <span></span>
                        </div>
                        <div class="styled-input">
                            <input type="password" name="confirmed" required="">
                            <label>Confirmar contraseña</label>
                            <span></span>
                        </div>
                        
                        <input type="submit" value="Registrate">
                    </form>
                    <ul class="social-nav model-3d-0 footer-social w3_agile_social top_agile_third">
                        
                        <li><a href="#" class="instagram">
                                <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                                <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                            </a></li>
                        
                    </ul>
                    <div class="clearfix"></div>
                    <p><a href="#">Al registrarte, aceptas todos los términos</a></p>

                </div>
                <div class="col-md-4 modal_body_right modal_body_right1">
                    <img src="/images/log_pic.jpg" alt=" " />
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- //Modal content-->
    </div>
</div>
<!-- //Modal2 -->