.cargaimg{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.cargaimg img{
    width: 50%;
    border-radius: 3px;
    box-shadow: silver 0px 0px;
}
.cargaimg input[type="button"]{
    background-color: #30e878;
}
.editaragregar{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap:.5em;
    justify-content: center;
    
  }
.marco{
    padding: 1em;
    cursor: pointer;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    border: 1px solid #D1CFCF;
    border-radius: 3px;
    background-color: whitesmoke;

}
.grid-2fr{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em
}
.grid-3fr{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em
}
.grid-2fr1fr1fr{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap:1em
}
.botonera{
    display: flex;
    justify-content: center;
    margin-top: .5em;
    gap:.5em
}
.botonera button a{
    color: white
}
.grid-1fr{
    display: grid;
    grid-template-columns: 1fr
}
.grid-2fr div{
    display: flex;
    flex-direction: column;
}